@charset "utf-8";
#to_top{	
	position: fixed;
	right: 15px;
	bottom: 15px;
	z-index: 999999;
}
#to_top img{
	cursor: pointer;
	opacity: 0.6;
	width: 35px;
	height: 35px;
}
#to_top img:hover{
	cursor: pointer;
}
